$c-sample = #102E4A;

// Cores

$c-brand-primary  = #4d7498;
$c-brand-success  = #689f38;
$c-brand-info     = #29b6ff;
$c-brand-warning  = #ffb820;
$c-brand-danger   = #cd4141;

$c-dark-primary   = darken($c-brand-primary, 20%);
$c-dark-success   = darken($c-brand-success, 20%);
$c-dark-info      = darken($c-brand-info, 20%);
$c-dark-warning   = darken($c-brand-warning, 20%);
$c-dark-danger    = darken($c-brand-danger, 20%);

$c-blue-default   = #4375A3;
$c-blue-darker    = #2D4F6E;
$c-blue-lighter   = #F5FAFF;

$c-green-default  = #7EC044;
$c-green-darker   = #3C5C21;
$c-green-lighter  = #FAFFF5;

$c-grey-default   = #969DA3;
$c-grey-darker    = #54585C;
$c-grey-lighter   = #EBF0F5;

$c-teal-default   = #4F8C81;
$c-teal-darker    = #345C55;
$c-teal-lighter   = #EBF5F3;

$c-red-default    = #d84041;
$c-red-darker     = #852020;
$c-red-lighter    = #F5EBEB;

$c-yellow-default = #FFD633;
$c-yellow-darker  = #C2A327;
$c-yellow-lighter = #FFFBEB;

$c-purple-default = #9E2C9A;
$c-purple-darker  = #5C1A59;
$c-purple-lighter = #F5EBF4;

$c-orange-default = #FF7214;
$c-orange-darker  = #C26E36;
$c-orange-lighter = #FFF3EB;

$c-grey-60        = #666666;
$c-grey-40        = #999999;
$c-grey-20        = #CCCCCC;
$c-grey-8         = #EBEBEB;
$c-grey-4         = #F5F5F5;

$c-black          = #333333;
$c-white          = #ffffff;

$c-delivered      = #006117;
$c-pending        = #FFCB78;
$c-running        = #ADD9FA;
$c-delayed        = #BD174F;
$c-canceled       = #969696;
