// Box-shadow Global
$box-shadow-light = -1px 1px 4px rgba(153, 153, 153, 0.52);

// Buttons
$btn-padding = 0.3rem 0.5rem;
$btn-font-sm = $f-size-text;
$btn-font-md = $f-size-info;
$btn-font-lg = $f-size-subtitle;
$btn-border-radius = 5px;
$btn-outline = none;
$btn-border-default = 1px solid $c-grey-40;
$btn-background-default = $c-white;
$btn-background-primary = $c-brand-primary;
$btn-background-danger = $c-brand-danger;
$btn-hover-background = $c-grey-4;
$btn-box-shadow-light = 0 0 4px 2px $btn-hover-background;
$btn-active-bg = $c-grey-20;