// Font
$f-family-text = 'Open Sans', sans-serif;

$f-size-title       = 1.4rem;
$f-size-subtitle    = 1.2rem;
$f-size-info        = 1.0rem;
$f-size-text       = 0.8rem;
$f-size-description = 0.7rem;

$f-regular  = 400;
$f-semibold = 700;
$f-bold     = 800;